.hamberger-menu-btn {
    --hamberger-menu-btn-width: 2em;
    --hamberger-menu-btn-height: 1.5em;
    width: var(--hamberger-menu-btn-width);
    height: var(--hamberger-menu-btn-height);
    border: 0;
    padding: 0;
    margin: 0 0.3em;
    background: none;
    cursor: pointer;
}
.hamberger-menu-btn > .line {
    --hamberger-menu-btn-line-height: calc(var(--hamberger-menu-btn-height) * (1/7) );
    --hamberger-menu-btn-line-vertical-margin: calc(var(--hamberger-menu-btn-height) * (2/7) );
    display: block;
    width: var(--hamberger-menu-btn-width);
    height: var(--hamberger-menu-btn-line-height);
    background-color: var(--color);
    margin: var(--hamberger-menu-btn-line-vertical-margin) 0;
    border-radius: calc(var(--hamberger-menu-btn-line-height) / 2);
    transition: transform 500ms ease-in-out;
}
.hamberger-menu-btn > .line:nth-child(2) {
    margin-top: 0;
}
.hamberger-menu-btn > .line:last-child {
    margin-bottom: 0;
}
#sidebar-btn-checkBox:checked ~ .line:nth-of-type(1) {
    transform: translateY(calc(var(--hamberger-menu-btn-line-height) + var(--hamberger-menu-btn-line-vertical-margin))) rotateZ(0.875turn);
}

#sidebar-btn-checkBox:checked ~ .line:nth-of-type(2) {
    transform: scale3d(0,0,0);
}
#sidebar-btn-checkBox:checked ~ .line:nth-of-type(3) {
    transform: translateY(calc((var(--hamberger-menu-btn-line-height) + var(--hamberger-menu-btn-line-vertical-margin)) * -1)) rotateZ(-0.875turn);
}

#secondary-menu-close-btn {
    width: 2em;
    height: 2em;
    align-self: flex-end;
    background: none;
    border: none;
    outline: none;
}