#showpopupWindowCheckbox:checked ~ #popupWindow {
    display: block;
}
/* pop up window background */
.popupWindow {
    position: fixed;
    left: 0; top: 0; bottom: 0; right: 0;
    display: none;
    width: 100%;
    height: 100%;

    overflow: hidden;

    background: none;
    animation: changeColor 0.3s ease forwards;

    z-index: 100;
}
.popupWindow-content {
    display: table;
    position: relative;
    min-width: 220px;
    max-width: 90vw;
    padding: 0;
    margin: 10vh auto 0 auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #fefefe;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.3);
    animation: animatedrop 0.3s ease forwards;
}
#closePopupWindow {
    color: white;
    float: right;
    font-weight: bolder;
    cursor: pointer;
    margin: 5px 10px 0 2px;
    transform: scale3d(1.5,1.5,1);
}
.popupWindow-header, .popupWindow-footer {
    background-color: rgb(204, 0, 0);
    color: white;
}
.popupWindow-header h3 , .popupWindow-footer h4{
    padding: 5px 2px 5px 16px;
    margin: 0 5px;
}
.popupWindow-body {
    padding: 2px 16px;
    color: black;
}
.popupWindow-body p {
    padding: 0;
    margin: 8px 5px;
}
@keyframes changeColor {
    from {
        background: none;
        opacity: 0;
    }

    to {
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 1;
    }
}
@keyframes animatedrop {
    from {
        transform: scale3d(1.25,1.25,1.25);
        opacity: 0;
    }

    to {
        transform: scale3d(1,1,1);
        opacity: 1;
    }
}