#side-navBar {
    font-size: inherit;
    box-sizing: border-box;
    --top: 0em;
    transform: translateX(calc(-100% - 6px));
    position: fixed;
    display: block;
    top: var(--top);
    height: calc(100vh - var(--top));
    width: 15em;
    max-width: calc(100vw - 3em);
    margin: 0;
    z-index: 3;
    overflow-y: auto;
    transition: transform 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
    background-color: var(--background-color);
    box-shadow: 1px 0 2px 0 rgba(128, 128, 128, 0.3), 2px 0 6px 2px rgba(128 ,128, 128, .15);
}

/* Blur effect will only be used for computer sized screens */
@media (min-width: 50em) {
    @supports (backdrop-filter: blur(2em)) {
        /* #side-navBar {
            backdrop-filter: blur(2em) grayscale(0.5);
            background: none;
        } */
    }
    #side-navBar {
        width: 20em;
    }
}


#side-navBar .nav-types{
    display: block;
    margin: 0;
    text-align: center;
    border-top: 0.07em solid rgba(128, 128, 128, 0.5);
    border-bottom: 0.07em solid rgba(128, 128, 128, 0.5);
    transition: border 1s ease;
}
#side-navBar .nav-types:nth-child(2){
    margin-top: clac(1em + 5px);
    border-top: none;
}
#side-navBar .nav-types:last-child {
    border-bottom: none;
}

#side-navBar .nav-items{
    display: block;
    margin: 0;
    padding: 0;
    text-align: left;
    margin: 1em 1em;
    color: var(--color);
    text-decoration: none;
    transition: all 0.2s ease;
    border: none;
    background: none;
}
#side-navBar .nav-items:hover,
#side-navBar .nav-items:focus,
#side-navBar .nav-items:active {
    color: rgb(0, 177, 177);
}