.card {
    --icons-dimentions: 3em;
    --gallery-height: 15em;
    --big-radius: 3em;
    --small-radius: 1em;
    max-width: 20em;
    height: 70vh;
    min-height: 25em;
    position: relative;
    display: flex;
    margin: 1em 0;
    flex-direction: column;
    justify-content: stretch;
    border-radius: 0.5em;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
}
.card .card-gallery {
    flex: 1 1 50%;
    position: relative;
    display: flex;
    width: 100%;
    min-height: 10em;
    /* background-color: rgb(234, 255, 185); */
    overflow: hidden;
    border-radius: 0.5em;
}
@media (min-width: 35em) {
    .card {
        margin: 1em 1em;
        border-radius: var(--small-radius);
        border-bottom-right-radius: var(--big-radius);
        box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 5px 8px 0 rgba(0,0,0,.14),0 1px 14px 0 rgba(0,0,0,.12);
    }
    .card:hover {
        box-shadow: 0 4px 5px -2px rgba(0,0,0,.2),0 7px 10px 1px rgba(0,0,0,.14),0 2px 16px 1px rgba(0,0,0,.12);
    }
    .card .card-gallery {
        border-top-left-radius: var(--small-radius);
        border-top-right-radius: var(--small-radius);
    }
}
.card .card-gallery .card-image {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.previous-card-image-button,
.next-card-image-button {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    
    position: absolute;
    top: 30%;
    width: calc(var(--icons-dimentions));
    height: calc(var(--icons-dimentions));
    margin: 0;
    border-radius: 50%;
    border: none;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    transition: transform 200ms ease-in-out, opacity 200ms ease-in, background 200ms ease;
    background: none;
}

.next-card-image-button:hover,
.previous-card-image-button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
@supports (backdrop-filter: blur(1em)) {
    .next-card-image-button,
    .previous-card-image-button {
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(1em);
    }
}
.previous-card-image-button .icon-svg,
.next-card-image-button .icon-svg {
    width: 100%;
    height: 100%;
    fill: #535353;
}
.previous-card-image-button {
    left: 0;
    transform: translateY(-50%) translateX(-50%);
}
.next-card-image-button {
    right: 0;
    transform: translateY(-50%) translateX(50%);
}

.card-gallery:focus ~ .previous-card-image-button,
.card-gallery:active  ~ .previous-card-image-button,
.card-gallery:hover  ~ .previous-card-image-button,
.card-gallery:focus-within  ~ .previous-card-image-button,
.previous-card-image-button:active,
.previous-card-image-button:hover {
    visibility: initial;
    opacity: 1;
    transform: translateY(-50%) translateX(-30%);
}

.card-gallery:focus ~ .next-card-image-button,
.card-gallery:active  ~ .next-card-image-button,
.card-gallery:hover  ~ .next-card-image-button,
.card-gallery:focus-within  ~ .next-card-image-button,
.next-card-image-button:active,
.next-card-image-button:hover {
    visibility: initial;
    opacity: 1;
    transform: translateY(-50%) translateX(30%);
}


/**********************************************
    Card Image Navigator
 ***********************************************/
.card-image-navigator {
    margin-top: 5px;
    text-align: center;
}


/**********************************************
    Card texts
 ***********************************************/
.card-header {
    margin-top: 1em;
}
.card-header .card-header-text {
    font-size: large;
    margin: 0.5em 0 0.3em 0;
    text-align: center;
    text-transform: uppercase;
}

.card-caption-paragraph {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    font-size: normal;
    margin: 0.3em 1em;
    text-align: justify;
    color: rgb(85, 85, 85);
}


/**********************************************
    Card footer
 ***********************************************/
 .card-footer {
     margin: 1em 0;
 }
.card-navigator {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    padding: 0 calc(var(--big-radius)/2) 0 0;
}
.card-navigator-button {
    position: relative;
    display: flex;
    width: 3em;
    height: 3em;
    justify-content: center;
    align-content: center;
    align-items: center;
    
    border: none;
    border-radius: 100%;
    cursor: pointer;
    
    background: none;
    transition: background 250ms ease;
}
.card-navigator-button:hover {
    background-color: #dbdbdb33;
}
.card-navigator-button-icon {
    width: 1.5em;
    height: 1.5em;
    fill: rgb(83, 83, 83);
}