:root {
    font-size: large;
    --background-color: white;
    --color: black;
    --big-box-shadow: rgba(149, 243, 255, 0.1);
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--color);
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}
* {
    font-family: 'Segoe UI', Tahoma, Geneva, sans-serif;
    vertical-align: middle;
}
input, button, p, label, legend, div {
    font-size: inherit;
}
button, label {
    outline: none;
    -webkit-user-select : none;
    -moz-user-select    : none;
    -ms-user-select     : none;
    user-select         : none;
}
input:active, input:focus  {
    outline: none;
    border: none;
}
button:active, button:focus, button, label:active, label:focus, label {
    -webkit-tap-highlight-color: transparent; /* for removing the highlight */
    tap-highlight-color: transparent;
}
@media (prefers-color-scheme: light) {
    body {
        --background-color: white;
        --color: #000;
        --big-box-shadow: rgba(149, 243, 255, 0.1);
    }
}
@media (prefers-color-scheme: dark) {
    body {
        --background-color: #000;
        --color: #ebebeb;
        --big-box-shadow: rgba(255, 0, 0, 0.2);
    }
}

body {
    background-color: var(--background-color);
    color: var(--color);
}
img {
    width: 100%;
}
a {
    text-decoration: none;
    color: inherit;
}