#body-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: flex-start;
    margin: 0;
    padding: 0.6em 0.3em;
    background-color: var(--background-color);
    box-shadow: 0 0 5px 2px rgba(128, 128, 128, 0.5);
}
@media (min-height: 18em) {
    #body-header {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 3;
    }
}
#branding-h {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    text-transform: uppercase;
    font-size: x-large;
    text-align: center;
    padding: 0 0.2em;
    color: var(--color);
}

.small {
    font-size: small;
    color: hsl(180, 100%, 25%);
}

@media (max-width: 21em) {
    #branding-h {
        text-transform: uppercase;
        font-size: large;
    }
    .small {
        font-size: x-small;
    }
    #sidebar-btn {
        --hamberger-menu-btn-width: 1.5em;
        --hamberger-menu-btn-height: 1.125em;
    }
}